﻿@model string

@{
    ViewBag.Title = "Generated token";
}

<h2>Generated token</h2>

@using (Html.BeginForm())
{
    <span>UserName</span>
    <input class="form-control" type="text" name="userName" />

    <span>Password</span>
    <input class="form-control" type="password" name="password"/>
    
    <button class="btn btn-primary" type="submit">Generate token</button>
}
@if (!string.IsNullOrEmpty(Model))
{
    <code>@Model</code>
}
