﻿@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    var userName = User.Identity.Name;
    var fullName = userName.Split('/').Last(); // Remove the url part from the openid
    var email = "unknown email";

    var claimsPrincipal = Context.User as ClaimsPrincipal;
    if (claimsPrincipal != null)
    {
        var identity = claimsPrincipal.Identity as ClaimsIdentity;
        if (identity != null)
        {
            fullName = identity.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).FirstOrDefault() ?? fullName;
            email = identity.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).FirstOrDefault() ?? email;
        }
    }

    <ul class="nav navbar-nav">
        <li><a href="#">Hi <strong>@fullName (@userName, @email)</strong></a></li>
        <li><a href="@Url.Action("LogOff", "OpenId")">Logoff</a></li>
    </ul>
}
else
{
    <a href="@Url.Action("Login", "OpenId", new { @Area = "", ReturnUrl = Request.RawUrl })">Login with OpenId</a>
}
