﻿@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}

<h2>Identity</h2>
<a href="http://www.asp.net/identity/overview/getting-started/introduction-to-aspnet-identity">http://www.asp.net/identity/overview/getting-started/introduction-to-aspnet-identity</a>
<p>The ASP.NET membership system was introduced with ASP.NET 2.0 back in 2005, and since then there have been many changes in the ways web applications typically handle authentication and authorization. ASP.NET Identity is a fresh look at what the membership system should be when you are building modern applications for the web, phone, or tablet.</p>